.main {
    display: grid;
    gap: 1.2rem;
    --colorError: #f53838;
}

.isObligatory {
    color: var(--colorError);
}

.contInput,
.contInputLine,
.noLine {
    border: var(--defaultOutsideLine);
    border-radius: .4rem;
    padding: .6rem 1rem;
    width: 100%;
    position: relative;
    background: white;
    display: grid;
    align-items: center;
}

.contInputLine {
    padding: 0 .4rem 0 0;
    border-radius: 0;
    border: none;
    border-bottom: .1rem solid #1f1f1f;
}

.noLine{
    border: none;
    box-shadow: none;
}

.input {
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    user-select: none!important;

}

.prefixColor {
        color: var(--prefixColor);
    font-size: 1.4rem;
}

.errorCont {
    background: var(--colorError);
    width: 1.4rem;
    height: 1.4rem;
    display: grid;
    place-items: center;
    color: white;
    font-size: 1.1rem;
    border-radius: 50%;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    right: .8rem;
    top: calc(50% - .7rem);
}

.prefix {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: .4rem;
}

.disable {
    background: #f6f6f6;
    border: var(--defaultOutsideLine);
}

.title{
    color: var(--colorTextTitle);
        font-size: 1.4rem;
        font-weight: 600;
}

.controlPLaceholder{
    width: max-content;
    position: absolute;
    height: 100%;
    background: red;
    padding: .6rem 1rem;
    top: 0;
    left: 0;
    font-size: 1.4rem;
    z-index: -100;
}

.placeholderTooltip{
    width: 100%;
    position: absolute;
    bottom: calc(100% + .8rem);
    left: 0;
    background: rgb(75, 75, 75);
    color:  white;
    padding: .8rem;
}

.placeholderTooltip:before{
    width: 1.6rem;
    aspect-ratio: 1/1;
    background: inherit;
    position: absolute;
    content: "";
    rotate: 45deg;
    left: calc(50% - .8rem);
    top: calc(100% - .8rem);
}

