.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    position: relative;
    width: 240px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
    position: absolute;
}

.slider__track,
.slider__range {
    border-radius: 3px;
    height: 5px;
}

.slider__track {
    background-color: #ced4da;
    width: 100%;
    z-index: 1;
}

.slider__range {
    background-color: #9fe5e1;
    background-color: var(--colorMiddleSpix);
    z-index: 2;
}

.slider__left-value,
.slider__right-value {
    color: #dee2e6;
    font-size: 12px;
    margin-top: 20px;
}

.slider__left-value {
    left: 20px;
}

.slider__right-value {
    right: -4px;
}

.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 200px;
    outline: none;
}

.thumb--left {
    z-index: 3;
}

.thumb--right {
    z-index: 4;
}

.thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
    z-index: 100;
}

.thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}

.gridSlider {
    display: grid;
    grid-template-columns: 200px;
    margin: auto;
    gap: .8rem;
    padding-top: .8rem;
}

.numb {
    border: .1rem solid #bebebe;
    padding: .4rem 0;
    width: 7rem;
    display: grid;
    justify-items: center;
    border-radius: .4rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.gridMinMax {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    padding-top: 1.2rem;
}