.grid{
    display: grid;
    align-content: start;
    gap: 1.6rem;
    padding: 1.6rem;
    height: max-content;
}

.main {
    display: grid;
    padding: 1.6rem .8rem 1.6rem 1.4rem;
    overflow: hidden;
    gap: .8rem;
    position: relative;
    background: white;
    cursor: pointer;
    box-shadow: var(--defaultBoxShadow);
    border-radius: .4rem .8rem .8rem .4rem;
}


.iconAb {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    top: .8rem;
    right: .8rem;
}

.mainSection {
    display: grid;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    height: 100%;
    align-content: start;
    overflow: scroll;
    gap: 1rem;
    padding: 1.6rem;
    position: relative;
}

.per {
    color: var(--colorSecundaryText);
    font-size: 1.3rem;
}

.resale {
    width: max-content;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: .4rem;
}


.mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    grid-auto-columns: 9rem;
    gap: .8rem;
    align-items: center;
}

.gridPrice {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: end;
    font-size: 1.2rem;
    color: var(--colorTextSecundary);
    gap: .4rem;
}

.header {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    gap: .4rem;
}

.price {
    font-size: 1.6rem !important;
    font-weight: 600 !important;
    color: var(--colorMiddleSpix);
}

.priceMax {
    font-size: 1.3rem !important;
    font-weight: 500 !important;
    color: var(--colorTextSecundary);
}

.gridAtributes {
    display: grid;
    gap: .4rem;
    border-radius: .8rem;
    align-items: center;
}

.icon, .iconColor {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    margin-right: .4rem;
    filter: brightness(0);
}

.iconColor {
    filter: brightness(1);
    opacity: 1;
}

.atr {
    font-size: 1.3rem;
    position: relative;
    top: -.1rem;
    color: var(--colorSecundaryText);
}

.file {
    font-size: 1.3rem;
    color: black;
}

.available {
    font-size: 1.2rem;
    color: var(--colorTextSecundary);
    position: relative;
    bottom: .1rem;
}

.selected {
    width: 1.2rem;
    position: absolute;
    top: .8rem;
    right: .8rem;
}

.cada {
    color: var(--colorTertiaryText);
    font-size: 1.2rem;
}

.contPrice {
    display: grid;
    align-content: start;
    justify-content: left;
}

.contPrice2 {
    display: grid;
    text-align: center;
    justify-items: left;
    align-content: start;
    justify-content: center;
    gap: .4rem;
}

.button {
    font-size: 1.3rem;
    font-weight: 400;
}

.resaleBorder {
    width: .4rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.mainTabs {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: max-content 1fr;
    overflow: hidden;
    position: relative;
}

.gridTabs {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    border-bottom: var(--separationLineT);
    font-size: 1.3rem;
    position: relative;
    height: 3.6rem;
}

.tabs {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background: white;
    font-size: 1.4rem !important;
}

.tabSelected {
    box-shadow: none;
    position: relative;
}

.line, .lineNoPublic {
    position: absolute;
    bottom: -.1rem;
    height: .2rem;
    left: 0;
    width: 50%;
    background: var(--colorTextTabSelected);
    transition: .2s;
}

.lineNoPublic {
    width: 100%;
}

.lineResale {
    left: 50%;
}