:root {
  --backgroundMenu: #2c3844;
  --colorOutSideTable: #e6e6e6;
  --borderOutsideTable: .1rem solid var(--colorOutSideTable);
  --backgroundHeaderTables: rgba(245,245,245);
  --borderHeaderTables: .1rem solid var(--colorOutSideTable);
  --defaultOutsideLineColor: #f1f1f1;
  --defaultOutsideLineColor: #dddddd;
  --defaultOutsideLine: .1rem solid var(--defaultOutsideLineColor);
  --prefixColor: #74767c;
  --colorBoxShadow: #cdcdcd;
  --colorBoxShadowSelected: #adacac;
  --defaultBoxShadow: 0 .1rem .3rem var(--colorBoxShadow);
  --defaultBoxShadow: 0 0 .3rem var(--colorBoxShadow);
  --defaultBoxShadowSelected: 0 .1rem .4rem var(--colorBoxShadowSelected);
  --defaultTransition: .3s;
  --colorForBoxShadow: #f5f5f5;
  --borderForBoxShadow: .1rem solid var(--colorForBoxShadow);
  --boxShadowSelectedOrange: 0 0 .2rem #f38304, 0 0 .3rem #f38304, 0 0 .4rem #f38304;
  --borderForBoxShadowSelectedOrange: .1rem solid #ff88004b;
  --gradientMenu: #2c3844;

  --colorMiddleSpix: #2e8dec;
  --colorDarkSpix: #1D9BF0;
  --colorLightSpix: #0674e3;
  --colorHoverLink: #0a68f5;

  --fontSizeNormal: 1.4rem;
  --fontWeightNormal: 400;
  --colorTextNormal: #3d3e41;
      
  --fontSizeDetails: 1.4rem;
  --fontWeightDetails: 400;
  --colorTextDetails: #74767c;
      
  --fontSizeMenu: 1.5rem;
  --fontWeightMenu: 400;
  --colorTextMenu: white;
      
  --fontSizeTitle: 2rem;
  --fontWeightTitle: 500;
  --colorTextTitle: black;
      
  --fontSizeSubTitle: 1.5rem;
  --fontWeightSubTitle: 600;
  --colorTextSubTitle: #1f1f1f;
      
  --fontFamilyTabs: Roboto;
  --fontSizeTabs: 1.4rem;
  --fontWeightTabs: 500;
  --colorTextTabs: #3d3e41;
  --colorTextTabSelected: #f38304;
  --colorTextTabSelectedHover: #e56a05;
      
  --fontSizeLink: 1.4rem;
  --fontWeightLink: 400;
  --colorTextLink: var(--colorMiddleSpix);
  --colorTextLinkHover: #0a68f5;

  --selectedColor: orange;
  --resaleColor: #d0006f;
  --availableColor: #2394d7;
  --reservedColor: #d0d0d0;
  --disableColor: #c2c2c2;
  --disableStroke: #818181;
  --brightnessLight: 1.3;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif!important;
  font-size: 62.5%;
  background: white;
  overscroll-behavior: none !important;
}

body {
 font-size: 1.4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
select {
  outline: none;
  border: none;
  width: 100%;
  resize: none;
}

button {
  outline: none;
  border: none;
  background: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  
}

::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
  width: 0;
  background: transparent;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

*:active, *:focus {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
}
