.main{
    --colorMainButton1: #ff9900;
    --colorMainButton2: #f87517;
    --colorMiddleSpix: #2e8dec;
    --backgroundMainButton: linear-gradient(0deg, var(--colorMainButton2) 0%, var(--colorMainButton1) 100%);
    text-align: center;
    font-weight: 600;
    overflow: hidden;
    cursor: pointer;
    display: grid;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    gap: .6rem;
    justify-content: center;
    box-shadow: var(--boxShadowBlueButton);
    align-items: center;
    width: 100%;
    padding: .8rem 1.2rem;
    font-size: 1.4rem;
    background: var(--backgroundMainButton);
    color: white;
    border-radius: 4.8rem;
    margin: auto;
}

.isSquare{
    border-radius: .4rem;
}

.border {
    background: white;
    color: var(--colorMainButton1);
    border: .1rem solid var(--colorMainButton1);
}

.blue{
    background: var(--colorMiddleSpix);
}

.white{
    background: white;
    color: var(--colorTextNormal);
    border: var(--defaultOutsideLine);
}

.disable {
    background: rgb(237, 237, 237);
    color: rgb(155, 155, 155);
    border: var(--defaultOutsideLine);
    cursor: not-allowed;
}

.tiny{
    font-size: 1.3rem;
}

.square{
    border-radius: .4rem;
}

.loader {
    width: 1.2rem;
    aspect-ratio: 1/1;
    border: 2px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}