.main {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    gap: 1.6rem;
    padding: 1.6rem;
    border-left: var(--defaultOutsideLine);
    background: white;
    grid-template-rows: 1fr max-content;
}

.submain{
    display: grid;
    width: 100%;
    height: 100%;
    overflow: scroll;
    align-content: start;
    gap: 2.4rem;
}

.mainTop {
    display: grid;
    align-content: start;
    gap: 1.6rem;
    overflow: scroll;
    padding-top: 1.6rem;
}

.input {
    border: none !important;
    box-shadow: none !important;
}

.gridInputs {
    display: grid;
    grid-template-columns: 1fr 16rem;
    border: var(--borderForBoxShadow);
    box-shadow: var(--defaultBoxShadow);
    border-radius: .4rem;
}

.select {
    border: none!important;
    box-shadow: none!important;
    border-left: var(--defaultOutsideLine)!important;
    border-radius: 0!important;
}

.cont {
    display: grid;
    gap: 1rem;
}

.gridImages {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    gap: 1rem;
}

.contImage {
    border-radius: .8rem;
    overflow: hidden;
}

.images {
    width: 100% !important;
}

.gridButtons {
    background: white;
    bottom: 0;
    z-index: 10000;
    display: grid;
    justify-content: left;
    gap: 1.6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.h {
    height: 100px;
}