.gridImages {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .8rem;
}

.cont{
    display: grid;
    gap: 1.2rem;
    padding: 1.2rem;
    border: var(--defaultOutsideLine);
    border-radius: .4rem;
    overflow: hidden;
}

.rules{
    display: grid;
    justify-content: left;
}
