.main {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-content: center;
    gap: .8rem;
    padding: 1.6rem 2rem;
    border-bottom: var(--defaultOutsideLine);
}

.contInfo {
    display: grid;
    gap: .8rem;
}

.notTogether{
    color: red;
}
.price {
    font-size: 1.4rem;
}

.gridNumbers {
    display: grid;
    grid-template-columns: 3rem 3.6rem 3rem;
    align-content: center;
    gap: .8rem;
}

.number {
    background: var(--colorMiddleSpix);
    color: white;
    width: 100%;
    aspect-ratio: 1/1;
    font-weight: 600;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    border-radius: .4rem;
}

.amount {
    display: grid;
    place-items: center;
    font-size: 1.4rem;
    border: var(--borderMainCard);
    box-shadow: var(--boxShadowMainCard);
    border-radius: .4rem;
    padding: 0 .4rem;
}

