.grid {
    grid-template-columns: repeat(6, 150px) 12rem 5rem;
}

.tag {
    color: white;
    width: 8rem;
    padding: .4rem .8rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 3.6rem;
}

.contSwitch {
    width: 4.2rem;
    aspect-ratio: 1/1;
    display: grid;
    position: absolute;
    bottom: 4rem;
    left: 5.6rem;
    z-index: 1000000;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: .1rem .1rem .8rem #898a8f;
    background: var(--colorMiddleSpix);
    transition: .3s;
    padding: .6rem;
}

.image {
    width: 100%;
    height: 100%;
    position: relative;
}

.text {
    position: relative;
    top: -.1rem;
}

.switch {
    /*
    width: 26.1rem;
        grid-template-columns: 13rem max-content 13rem;
    */
    width: max-content;
    padding: 0 1.2rem;
    border-radius: .4rem;
    height: 3.6rem;
    display: grid;
    position: relative;
    font-weight: 600;
    font-size: 1.2rem;
    align-items: center;
    /*box-shadow: var(--boxShadowMainCardMobileTiny), 0 0 .8rem #eeeeee inset;*/
}

.option {
    width: 12rem;
    text-align: center;
    margin: auto;
    display: grid;
    border-radius: 3.6rem;
    align-items: center;
    z-index: 1000;
    position: relative;
    color: var(--colorTextDetails);
    border: .1rem solid #d7d7d7;
    height: 2.6rem;
}

.optionSelected {
    opacity: 1;
    font-weight: 600;
    color: white;
    border: none;
}

.middle {
    width: .1rem;
    height: 80%;
    margin: auto;
    background: #d9d9d9;
}

.bar {
    width: 12rem;
    border-radius: 3.6rem;
    height: 2.6rem;
    position: absolute;
    left: .5rem;
    top: .4rem;
    transition: .3s;
    background: #f51313;
}

.barMove {
    left: 13.6rem;
    background: #0ba90b;
}

.button {
    padding: 1.2rem 1.6rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;
    width: 20rem;
}

.price {
    font-weight: 400;
}
