.padding {
    padding: 1.2rem;
    border-bottom: var(--defaultOutsideLine);
}

.grid{
    grid-template-rows:  max-content 1fr;
    overflow: hidden;
    display: grid;
    width: 100%;
    height: 100%;
}

.gridNumbers{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    gap: .4rem;
}