.gridImages {
    display: grid;
    grid-template-columns: repeat(5, 9rem);
    overflow: scroll;
    gap: .8rem;
}

.cont{
    display: grid;
    gap: .8rem;
    border-top: var(--defaultOutsideLine);
    border-bottom: var(--defaultOutsideLine);
    padding: .8rem 0;
    /* padding: 1.2rem; */
    /* border: var(--defaultOutsideLine); */
    /* border-radius: .8rem; */
    /* overflow: hidden; */
}

.grid{
    gap: 2rem;
    padding: 1.6rem 1.2rem;
}