.main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-template-columns: 20rem 1fr 20rem;
    display: grid;
    padding: 0 3.6rem;
}

.c{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}